<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="https://github.com/login/oauth/authorize">GITHUB로그인</a>
    <a href="/oauth2/authorization/google">GOOGLE로그인</a>
    <a href="/oauth2/authorization/kakao">KAKAO로그인</a>
    <a href="/oauth2/authorization/naver">NAVER로그인</a>
</body>
</html>